.footer-wrapper {
    border-bottom: 1px solid $txt-light-grey;
    padding: 70px 0 90px 20px;
    @include clearfix;
    display: flex;
    img {
        display: inline-block;
    }
    @include mq (880px) {
        display: block;
        text-align: center;
        width: 65%;
        padding: 0;
    }
}

.footer-logo {
    padding-top: 28px;
    @include mq (880px) {
        margin-bottom: 40px;
    }
}

.footer-nav {
    margin-left: auto;
}
.main-footer-nav {
    display: inline-block;
    margin-right: 70px;
    & > li {
        list-style: none;
        font-size: 18px;
        line-height: 24px;
        color: $theme-green;
        text-transform: uppercase;
    }
    @include mq (880px) {
        display: block;
        margin: 0 0 20px;
    }
}

.sub-footer-nav {
    margin-top: 20px;
    li {
        list-style: none;
        font-size: 14px;
        line-height: 28px;
        color: $txt-light-grey;
        text-transform: none;
        .alt-txt {
            color: $bg-light-green;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    @include mq (880px) {
        margin: 0;
    }
}

footer p {
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    color: $txt-light-grey;
    margin: 20px 0;
}